@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Noto+Sans+Arabic:wght@400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}
